name: Rust CI + Release

on:
  push:
    branches: [ "master" ]
    tags:
      - "v*"
  pull_request:
    branches: [ "master" ]

env:
  CARGO_TERM_COLOR: always

jobs:
  build-linux:
    runs-on: ubuntu-22.04
    steps:
      - uses: actions/checkout@v4

      - name: Install dependencies
        run: |
          sudo apt-get update
          sudo apt-get install -y \
            libwebkit2gtk-4.0-dev \
            build-essential \
            curl \
            libssl-dev \
            libgtk-3-dev \
            libayatana-appindicator3-dev \
            librsvg2-dev

      - name: Build
        run: cargo build --verbose

      - name: Run tests
        run: cargo test --verbose

  build-windows:
    runs-on: windows-latest
    if: startsWith(github.ref, 'refs/tags/')
    steps:
      - uses: actions/checkout@v4

      - name: Build (Release)
        run: cargo build --release --verbose

      - name: Prepare Release Files
        shell: pwsh
        run: |
          mkdir dist
          copy target\release\kpatcher.exe dist\KPatcher.exe
          copy target\release\mkpatch.exe dist\mkpatch.exe
          copy examples\kpatcher.yml dist\
          copy examples\patch.yml dist\
          xcopy examples\bootstrap dist\bootstrap /E /I

      - name: Create GitHub Release
        uses: softprops/action-gh-release@v2
        with:
          files: |
            dist/*
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
