name: Rust

on:
  push:
    branches: [ "master" ]
  pull_request:
    branches: [ "master" ]

env:
  CARGO_TERM_COLOR: always

jobs:
  build:

    runs-on: ubuntu-22.04

    steps:
    - uses: actions/checkout@v4
    - name: Install dependencies
      run: |
        sudo apt-get update
        sudo apt-get install -y libwebkit2gtk-4.0-dev build-essential curl libssl-dev libgtk-3-dev libayatana-appindicator3-dev librsvg2-dev
    - name: Build
      run: cargo build --verbose
    - name: Run tests
      run: cargo test --verbose

  build-windows:
    runs-on: windows-latest
    steps:
    - uses: actions/checkout@v4
    - name: Build
      run: cargo build --release --verbose
    - name: Prepare Artifacts
      shell: pwsh
      run: |
        mkdir dist
        cp target/release/kpatcher.exe dist/KPatcher.exe
        cp target/release/mkpatch.exe dist/mkpatch.exe
        cp examples/kpatcher.yml dist/
        cp examples/patch.yml dist/
        cp -r examples/bootstrap dist/
    - name: Upload Artifact
      uses: actions/upload-artifact@v4
      with:
        name: rpatchur-windows
        path: dist/
